.output-screen{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 30%;
    background: #3e424d;
    justify-content: center;
    padding-right: 0.5em;
    border-radius: 12px 12px 0px 0px;
}

.output-screen_expression{
    font-size: larger;
}

.output-screen_result{
    color: #b6b6b6;
}